@page
@model SITE.Pages.Students.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Редактировать</h1>

<h4>Маршрут</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Student.Id" />
            <div class="form-group">
                <label asp-for="Student.Name" class="control-label"></label>
                <input asp-for="Student.Name" class="form-control" />
                <span asp-validation-for="Student.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.BirthData" class="control-label"></label>
                <input asp-for="Student.BirthData" class="form-control" />
                <span asp-validation-for="Student.BirthData" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Student.Deleted" /> @Html.DisplayNameFor(model => model.Student.Deleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Student.Prise" class="control-label"></label>
                <input asp-for="Student.Prise" class="form-control" />
                <span asp-validation-for="Student.Prise" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Student.FullName" class="control-label"></label>
                <input asp-for="Student.FullName" class="form-control" />
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Вернутся к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
